body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15% 42.5% 42.5%;
    height: 100vh;
    background: linear-gradient(to left, gray, rgb(47, 47, 47));
    /* Gradiente de azul à direita para branco à esquerda */
    height: 100vh;
    /* Faz com que o gradiente cubra toda a altura da janela */
    margin: 0;
    /* Remove a margem padrão do corpo */
}

#principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column: 2;
    grid-row: 2;
    border: 2px rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    /* Sombra com deslocamento de 10px vertical, 20px de borrão, cor preta semi-transparente */
    border-radius: 10px;
    /* Cantos arredondados */
    margin: 0px;
    margin-left: 40px;
    margin-right: 40px;
}

.input {
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 1;
    border-radius: 3px;

}

.label {
    justify-self: center;
    grid-column: 2;
    grid-row: 1;
    margin-top: 10px;
    color: white;
}

#senha {
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
    border-radius: 3px;

}

#labelSenha {
    /*Display stuff*/
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    /*Box model stuff*/
    margin-top: 10px;
    /*Typography stuff*/
    color: white;

}

#buttonEnviar {
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 3;
}

#buttonCadastrar {
    /*Display stuff*/
    grid-column: 2;
    grid-row: 3;
    align-items: center;
    justify-content: center;
    justify-self: center;
    /*Box model stuff*/
    width: 120px;
    height: 50px;
    margin: 5px;
    border: solid #404c5d 1px;
    border-radius: 5px;
    background: #333;
    background: linear-gradient(145deg, #2e2d2d, #212121);
    /*Typography stuff*/
    font-family: Consolas, Courier New, monospace;
    font-size: 16px;
    color: rgb(161, 161, 161);
    /*Manipulations stuff*/
    transition: 500ms;
    /*Miscellaneous*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-transition: 500ms;
    -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b, inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
    box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b, inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}

#buttonCadastrar:hover {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
}

#buttonCadastrar:active {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;

}

#cadastro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1;
    grid-row: 2;
    border: 2px rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    /* Sombra com deslocamento de 10px vertical, 20px de borrão, cor preta semi-transparente */
    border-radius: 10px;
    /* Cantos arredondados */
    margin: 0px;
    margin-left: 40px;
    margin-right: 40px;
}

#labelCadastroUsuario{
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    /*Box model stuff*/
    margin-top: 10px;
    /*Typography stuff*/
    color: white;
    font-family: Consolas, Courier New, monospace
}

#labelCadastroSenha {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    /*Box model stuff*/
    margin-top: 10px;
    /*Typography stuff*/
    color: white;
    font-family: Consolas, Courier New, monospace
    
}

#cadastroSenha {
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
    border-radius: 3px;
}